.body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  background-color: tomato;
}

#cabecalho .nav .nav-item .nav-link.active {
  background-color: white;
  color: tomato;
}

#cabecalho .nav .nav-link,
.navbar .navbar-brand,
.navbar .navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
  color: white;
}

.navbar-toggler {
  background-color: #ffe6e6;
}

.section-title {
  font-family: "Lobster", cursive;
}

.section-title span {
  color: tomato;
}

#sobre__o__restaurante,
#cardapio {
  background-color: #ffe6e6;
}

.text-colorful {
  color: tomato;
}

.nav-cardapio .nav-link.active,
#fale__conosco button {
  background-color: tomato;
  color: white;
}

.nav-cardapio .nav-link:hover {
  color: tomato;
}

.social-links li {
  list-style: none;
  display: inline;
}

.social-links a {
  text-decoration: none;
}

@media (max-width: 767px) {
  .carousel-item img {
    height: 280px;
  }
}
