.body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  background-color: tomato;
}

.nav .nav-item .nav-link.active {
  background-color: white;
  color: tomato;
}

.nav .nav-link,
.navbar .navbar-brand,
.navbar .navbar-brand:hover {
  color: white;
}

.navbar-brand {
  font-family: "Lobster", cursive;
}

.navbar-toggler {
  background-color: white;
}
