:root {
  --cor-primaria: navy;
  --cor-secundaria: white;
  --cor-terciaria: rgb(227, 227, 227);
}

.body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  background-color: var(--cor-primaria);
}

#cabecalho .nav .nav-item .nav-link.active {
  background-color: var(--cor-secundaria);
  color: var(--cor-primaria);
}

#cabecalho .nav .nav-link,
.navbar .navbar-brand,
.navbar .navbar-brand:hover,
.nav-parceiros .nav-link.active:hover {
  color: var(--cor-secundaria);
}

.navbar-toggler {
  background-color: var(--cor-terciaria);
}

.section-title {
  font-family: "Montserrat", sans-serif;
}

.extra-bold {
  font-weight: 800;
}

.section-title span {
  color: var(--cor-primaria);
}

#sobre__a__codev,
#parceiros {
  background-color: var(--cor-terciaria);
}

.text-colorful {
  color: var(--cor-primaria);
}

.nav-parceiros .nav-link.active,
#fale__conosco button {
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
}

.nav-parceiros .nav-link:hover {
  color: var(--cor-primaria);
}

.social-links li {
  list-style: none;
  display: inline;
}

.social-links a {
  text-decoration: none;
}

@media (max-width: 767px) {
  .carousel-item img {
    height: 280px;
  }
}

footer {
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
}
